@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

body{
  background:#90B1E0;
  margin: 0 auto;
  width: 100%;
}

[class="main text"]{
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 7rem;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 5%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC,
    30px 30px 0px #5b6472;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

p{
    margin-top: 0;
    margin-bottom: 8%;
}

[class="list"]{
    max-width: 30em;
    margin-top: 5%;
    margin-bottom: 5%;
}

[class="king"]{
  align-items: center;
  width: 30em;
}

[class="audio"]{
  width:30em;
}
